<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Strong.mapper.BrandMapper">
    <!--使用resultMap解决数据库 和 java 属性名称不匹配的方式-->
    <resultMap id="brandResultMap" type="Brand">

        <result column="brand_name" property="brandName"></result>

        <result column="company_name" property="companyName"></result>

    </resultMap>


    <!--
            根据复选康所选的Id来进行删除
    -->
    <delete id="deleteByIds">
        delete
        from tb_brand where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectByPageAccordingCondition" resultMap="brandResultMap">
        select * from tb_brand

        <where>
            <if test="brand.brandName!=null and brand.brandName !=''">
                and brand_name like #{brandName}
            </if>

            <if test="brand.companyName!=null and brand.companyName !=''">
                and company_name like #{companyName}
            </if>

            <if test="brand.status!=null ">
                and status = #{status}
            </if>

            limit #{begin},#{pageSize}
        </where>

    </select>

    <select id="selectTotalNumConditio" resultMap="brandResultMap">
        select count(*) from tb_brand from

        <where>
            <if test="brand.brandName!=null and brandName !=''">
                and brand_name like #{brandName}
            </if>

            <if test="companyName!=null and companyName !=''">
                and company_name like #{companyName}
            </if>

            <if test="status!=null ">
                and status = #{status}
            </if>


        </where>
    </select>

</mapper>